# Forzar finales de línea LF en los archivos comunes del proyecto
*.ts     text eol=lf
*.js     text eol=lf
*.json   text eol=lf
*.env    text eol=lf
*.yml    text eol=lf
*.yaml   text eol=lf
*.md     text eol=lf
*.html   text eol=lf
*.scss   text eol=lf

# Archivos binarios
*.png    binary
*.jpg    binary
*.jpeg   binary
*.gif    binary
*.ico    binary

# Configuración general para todos los archivos de texto
* text=auto
